/** Variables   ==============
    Colours, Breakpoints, Gap
=============================**/

/* Primary Colours */
$primary-dark: #323232;
$primary-cta: #0095ff;
$primary-medium: #afafaf;
$primary-light: #fff;

/* Secondary Colours */
$secondary-dark: #000;
$secondary-cta: #0065ad;
$secondary-medium: #e1e1e1;
$secondary-light: #fafafa;

/* Break points */
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
