.storefront {
  display: flex;

  &__back {
    display: flex;
    background-image: url("../../assets/icons/backarrow.png");
    background-size: 20%;
    background-repeat: no-repeat;
    width: 10rem;
    padding: 5rem;
    height: 0.4rem;
    background-color: white;
    border: none;
    margin: 2rem;
  }
  &__card {
    display: flex;
    flex-direction: column;
    margin: 3rem;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 60vh;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border: red;
    padding: 5rem;

    &__heading {
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
      font-weight: bold;

      &-para {
        font-size: 0.5rem;
        margin-bottom: 2.5rem;
      }
    }

    &-facebook {
      background-color: #4267b2;
      background-image: url("../../assets/icons/facebook\ Icon.svg");
      background-size: 11%;
      background-repeat: no-repeat;
      background-position: 1rem 0.3rem;
      border-radius: 7px;
      font-size: 0.7rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
      color: white;
      width: 15rem;
      height: 2.5rem;
      margin-bottom: 0.8rem;
    }

    &-instagram {
      background-color: white;
      background-image: url("../../assets/icons/instagram.png");
      background-repeat: no-repeat;
      background-size: 10%;
      font-size: 0.7rem;
      background-repeat: no-repeat;
      border-radius: 7px;
      background-position: 1rem 0.4rem;
      color: black;
      border: none;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
      width: 15rem;
      height: 2.5rem;
    }
  }
}
