@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.homepage {
  width: 100%;
  @include flex-column-center;
  &__hero {
    width: 100%;
    @include flex-row;
    margin-top: 5rem;
    margin-bottom: 6.25rem;
  }
  &__hero-left {
    @include flex-column-center;
    flex-grow: 2;
  }
  &__hero-bottom {
    margin-left: 38%;
  }
  &__search {
    width: 95%;
    @include flex-row-center;
    margin: 24px 0 40px 0;
  }
  &__search-input {
    width: 70%;
    font-size: 1.125rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    background-color: white;
    height: 3.5rem; //56px
    border-radius: 25px 0 0 25px;
    padding: 0 36px; //16px
    margin: 0.2rem 0;
    &::placeholder {
      color: #bababa;
      //   padding-left: 5px;
    }
  }
  &__search-button {
    padding-top: 0px;
  }
}
